import type { ActionFunction } from "@remix-run/node";
import { redirect } from "@remix-run/node";
import { Form } from "@remix-run/react";

import base from "~/airtable.server";

export const action: ActionFunction = async ({ request, params }) => {
  const formData = await request.formData();

  const name = formData.get('name');

  const new{{ sentenceCase name }} = {
    fields: {
        id: params.id,
        Name: name
    },
  };

  try {
    await base("{{ sentenceCase name }}s").create([new{{ sentenceCase name }}]);
  } catch (err) {
    if (err) {
      console.error(err);
    }
  }

  return redirect('/{{ lowerCase name }}s');
};

export default function Add{{ sentenceCase name }}Route() {
  return (
    <>
      <div className="mb-4 rounded-lg border border-gray-600 p-6">
        <h3 className="text-xl">Add a {{ sentenceCase name }}</h3>
        <Form className="flex flex-col gap-6" method="post">
          <label className="flex w-full flex-col gap-1">
            <span>{{ sentenceCase name }}: </span>
            <input
              name="name"
              className="flex-1 rounded-md border-2 border-blue-500 px-3 text-lg"
            />
          </label>
          <button
            type="submit"
            className="rounded-lg bg-slate-600 py-3 px-4 text-white"
          >
            Add {{ lowerCase name }}
          </button>
        </Form>
      </div>
    </>
  );
}
