import { ActionFunction, json, LoaderFunction, redirect } from "@remix-run/node";
import { Form, Link, useLoaderData, useParams } from "@remix-run/react";

import base from "~/airtable.server";

export const loader: LoaderFunction = async ({ params }) => {
  const {{ lowerCase name }}Record = await base("{{ sentenceCase name }}s").find(params.id);

  const payload = {
    name: {{ lowerCase name }}Record.get("Name"),
  };

  return json(payload);
};

export const action: ActionFunction = async ({ request, params }) => {
  const formData = await request.formData();

  const {{ lowerCase name }}Id = params.id;
  const name = formData.get("name");

  try {
    await base("{{ sentenceCase name }}s").update([
      {
        id: {{ lowerCase name }}Id,
        fields: {
            Name: name
        },
      },
    ]);
  } catch (err) {
    if (err) {
      console.error(err);
    }
  }

  return redirect('/{{ lowerCase name }}s');
};

export default function Edit{{ sentenceCase name }}Route() {
  const data = useLoaderData();

  return (
    <>
      <div className="my-8">
        <Link className="underline" to="/{{ lowerCase name }}s">
          Back to {{ lowerCase name }}s
        </Link>
      </div>
      <div className="rounded-lg border border-gray-600 p-6">
        <h3 className="text-xl">Edit a {{ lowerCase name }}</h3>
        <Form className="flex flex-col gap-6" method="post">
          <label className="flex w-full flex-col gap-1">
            <span>{{ sentenceCase name }}: </span>
            <input
              name="name"
              className="flex-1 rounded-md border-2 border-blue-500 px-3 text-lg leading-loose"
              defaultValue={data.name}
            />
          </label>
          <button
            type="submit"
            className="rounded-lg bg-slate-600 py-3 px-4 text-white"
          >
            Update {{ lowerCase name }}
          </button>
        </Form>
      </div>
    </>
  );
}
