import { useState } from "react";
import type { ActionFunction, LoaderFunction } from "@remix-run/node";
import { json } from "@remix-run/node";
import { Form, Link, useLoaderData } from "@remix-run/react";
import type { Record } from "airtable";

import base from "~/airtable.server";

export const loader: LoaderFunction = async ({ request }) => {
  const records = await base("{{ sentenceCase name }}s")
    .select({
      view: "Main View",
    })
    .firstPage();

  const {{ lowerCase name }}s = records.map((record: Record<any>) => ({
    id: record.id,
    name: record.get('Name')
    // Add record data
  }));

  return json({ {{ lowerCase name }}s });
};

export default function {{ sentenceCase name }}Route() {
  const data = useLoaderData();

  return (
    <>
      <div className="my-8">
        <Link className="underline" to="add">
          Add a {{ lowerCase name }}
        </Link>
      </div>
      <ul className="grid grid-cols-3 gap-4">
        {data.{{ lowerCase name }}s.map(
          ({{ lowerCase name }}Data: { id: string; name: string }) => (
            <li
              className="mb-4 rounded-lg border border-gray-600 p-6"
              key={
                {{ lowerCase name }}Data.id
              }
            >
              <ul className="flex h-full flex-col justify-between gap-8">
                <li>
                    { {{ lowerCase name }}Data.name }<br />
                    <span className="rounded-lg text-xs bg-gray-200 p-2 text-gray-700">{ {{ lowerCase name }}Data.id }</span>
                </li>
                <li>
                  <Link
                    to={`/{{ lowerCase name }}s/edit/${
                        {{ lowerCase name }}Data.id}
                    `}
                    className="rounded-lg bg-slate-600 py-3 px-4 text-white"
                  >
                    Edit
                  </Link>
                </li>
              </ul>
            </li>
          )
        )}
      </ul>
    </>
  );
}
